<div class="cointainer contact">
  <h3>Zachęcamy do dzielenia się Państwa opiniami na temat naszego sklepu. Będziemy wdzięczni za propozycje zmian,
    które jeszcze bardziej usprawnią obsługę i dostosują sklep do Państwa oczekiwań. Z góry bardzo dziękujemy!
  </h3>

  <h2>Obsługa Klientów Sklepu:</h2>
    Kontaktując się za pośrednictwem poczty elektronicznej otrzymacie Państwo szybką i fachową pomoc.
    Dodatkowo pod numerem telefonu mogą się Państwo skontaktować z naszym konsultantem. <br/>
    Dostępni jesteśmy również na facebook, tweeter, oraz youtube - linki na dole strony.<br/>

  <div class="tel">
    INFOLINIA w godz. 9:00 -18:00<br/>
    Telefon komórkowy: 000 000 000<br/>
    Telefon stacjonarny i fax: 32 0000000<br/>
    E-mail: info@travelagency.com.pl<br/>
  </div>
  <div class="info">
    Dane firmy:<br/>
    F.U.H. Progress TRAVEL-AGENCY<br/>
    ul. Cegielniana 25/24, 00-400 Myszowór<br/>
    woj. lubelskie, POLSKA.<br/>
    NIP: 000-000-35-95<br/>
    REGON: 951203770<br/><br/><br/><br/><br/><br/>


    Rachunek do wpłat w Polsce:<br/>
    Nazwa Banku: PKO S.A. <br/>
    Numer konta: 11223344556600380250538210<br/>

    Dla przelewów zagranicznych:<br/>
    Numer konta: PL0311111040000383333538210<br/>
    Kod S.W.I.F.T (BIC): BREXPLPWMBK<br/>
  </div>
</div>
