<div class="container">
<div class="about">
  <br/><br/>
Biuro podróży "TAM I Z POWROTEM" powstało 10 lat temu. Początkowo tworzyło je Trzy osoby
XXX, YYY, ZZZ. Wkrótce dołączył do nich MMM, dzisiaj wiceprezes i dyrektor marketingu i sprzedaży.
<br/><br/><br/><br/>

Nazwa biura podróży pochodzi od znanej powieści J.R.R. Tolkiena opisującej wspaniałą podróż niechetnego początkowo Hobbita,
wraz z grupą krasnoludów w celu odzyskania swego dziewdzictwa. Ta podróż zmienia każdego z uczestników i pozwala odkryć prawdziwe wartości.
<br/><br/>
Jakie były pierwsze wycieczki organizowane przez "TAM I Z POWROTEM"?
Naszymi pierwszymi zorganizowanymi wyjazdami nie była ani Grecja ani Włochy.
Naszym pierwszym zakontraktowanym hotelem był 2-gwiazdkowy Nordic w Rimini, a pierwszą wycieczką objazdową,
 którą sprzedawaliśmy jak na tamte czasy masowo – „Klasyczne Włochy”
 <br/><br/>
Dzisiaj "TAM I Z POWROTEM" jest jednym z największym biur podróży, posiada dwieście salonów firmowych i ponad tysiąc agencyjnych.
A od czego zaczynaliście?
Od początku działaliśmy w Katowicach i tu niezmiennie mamy główną siedzibę.
<br/><br/>

Właściciele "TAM I Z POWROTEM" XXX i YYY muszą być wizjonerami skoro w 1989 roku założyli biuro podróży.
Skąd pomysł akurat na taki biznes?
Na początku była pasja do podróży i chęć połączenia pracy z własnymi zainteresowaniami, co przełożyło się na pomysł
na biznes. Z jednej strony był to przypadek, z drugiej analiza aktualnej sytuacji w Polsce.
<br/><br/>
Dziesięcioletnia historia biura podróży ma na pewno wiele ważnych dat.<br/>
Każdy rok niesie ze sobą wiele zmian, nowych sytuacji.<br/>
2013 – zakup pierwszych autokarów,<br/>
2014 – pierwsza własna siedziba,<br/>
2015 – rejestracja domeny www."tamizpowrotem".pl,<br/>
2016 – pierwszy hotel all inclusive,<br/>
2017-2018 – współpraca w ramach korporacji MyTravel Northern Europe,<br/>
2020 - zakup Cedoka, czy 2022 – kolejna siedziba w Opolu w odrestaurowanej zabytkowej siedzibie przedwojennego banku.
<br/><br/>
Świetny wynik! Przyciągacie turystów świetną ofertą. Jak ją przygotowujecie?
Zawsze kierujemy się naszymi prywatnymi doświadczeniami podróżniczymi i oczywiście preferencjami naszych Klientów, których gusta poznaliśmy w czasie naszej długiej wspólnej podróży. Chcemy pokazywać miejsca, do których sami chętnie wrócimy. Przed 30 laty, kiedy czartery w Polsce były zarezerwowane dla wybrańców, a podróże do Egiptu były ekskluzywną egzotyką, na skalę masową sprzedawaliśmy autokarowe wycieczki objazdowe do Włoch, Hiszpanii, Francji, rzadziej do Skandynawii, czy Beneluksu. Wraz z rozwojem turystyki czarterowej coraz bardziej otwierał się świat i rozpoczęliśmy regularne operacje czarterowe do Grecji, Turcji, na Wyspy Kanaryjskie. Kolejny etap to rozwój „long hauli” czyli dalekich kierunków jak Malediwy, Zanzibar czy Dominikana.
<br/><br/>
Czy pandemia zmieniła sposób podróżowania, oczekiwania klientów?
Bardziej nie tyle sposób podróżowania, ale nastawienie do podróży. Bardziej je doceniamy i bardziej się nimi cieszymy, chcemy, żeby były absolutnie wyjątkowe. Stale rośnie zainteresowanie hotelami wysokiej klasy: 4 gwiazdki to już standard, teraz wybieramy 5 gwiazdkowe, luksusowe resorty z rozbudowaną infrastrukturą dla rodzin czy ekskluzywne hotele butikowe z dizajnerskim wystrojem.
<br/><br/>
Czego oczekują turyści wybierając biuro podróży?
Przede wszystkim informacji, bezpieczeństwa, a także choć nie wszyscy, opieki czyli pilota lub rezydenta. Stało się to szczególnie widoczne w okresie pandemii, kiedy biura podróży stały się specjalistami w zakresie ciągle zmieniających się przepisów bezpieczeństwa i przepisów wjazdowych do krajów docelowych na całym niemal świecie, a także tych obowiązujących w Polsce.
</div>
</div>
