<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5" >
      <label for="destination" class="form-label" style="color: aliceblue;">Kryterium wyszukiwania :</label>
      <select class="form-select"  id="destination" aria-label="Default select example" [(ngModel)]="kindOfSearching" name="kindOfSearching">
        <option value="1">Kraj</option>
        <option value="2">Miasto</option>
        <option value="3">Kontynent</option>
      </select>
    </div>
    <div style="clear: both;"></div>
    <div class="col-sm-12 col-md-5">
      <label for="destinationName" class="form-label" style="color: aliceblue;">Wpisz nazwę :</label>
      <input class="form-control" type="text" placeholder="nazwa kraju/kontynetu/miasta" [(ngModel)]="destinationName" name="destinationName" aria-label="Disabled input example" id="destinationName" [disabled]="!kindOfSearching">
    </div>
    <button type="button" class="btn btn-primary" (click)="findAllTravelsByDestination()">Wyszukaj</button>

    <table style="color: aliceblue;">

      <tr>
        <td>L.p</td>
        <td>Kraj</td>
        <td>Miasto</td>
        <td>Cena - dorosły</td>
        <td>cena - dziecko</td>
        <td>Data wylotu</td>
        <td>Lotnisko</td>
      </tr>

  <tr *ngFor="let travel of travels; let i = index">
      <td>{{i+1}}</td>
      <td>{{travel.hotelModel?.cityModel?.countryModel?.countryName}}</td>
      <td>{{travel.hotelModel?.cityModel?.cityName}}</td>
      <td>{{travel.adultPrice}}</td>
      <td>{{travel.childPrice}}</td>
      <td>{{travel.startDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{travel.start?.airPortName}}</td>
  </tr>
</table>

  </div>
</div>
