<!-- eslint-disable @angular-eslint/template/alt-text -->
<div class="cointainet-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="left">
        <img
          src="../assets/images/toskania.jpg"
          class="foto-left img-fluid"
        /><br />
        <img
          src="../assets/images/indonezja-pola.jpg"
          class="foto-left img-fluid"
        /><br />
        <img
          src="../assets/images/japonia.jpeg"
          class="foto-left img-fluid"
        /><br />
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="central">
        <div id="foto1">
          <img src="../assets/images/pierdole.jpg" class="img-fluid">
        </div>
        <div id="tekst1" >
          <p>Jeżeli czasami nachodzą Cię podobne stany,
           co głównego bohatera widniejącego na grafice to trafiłeś we właściwe miejsce.
           Jesteśmy grupą przyjaciół, pasjonatów podróżowania, którzy przez założone przez siebie biuro podróży również innych chcemy zarazić naszą pasją.
           Nazwa naszej firmy również nie j4est przypadkowa. Nawiązuje ona do kultowej powieści, pełnej przygód i przyjaźni bohaterów.
           Pragniemy, aby każdy korzytający z naszych usług równiez przeżywał za każdym razem przygodę, ale jeśli nie jesteś ich fanem mamy również opcję całkowitego wypoczynku.
          </p>
          </div>
        <div style="clear:both"></div>

        <div id="tekst2"> <br/><br/>
          <p>W naszej ofercie każdy znajdzie coś dla siebie. Możesz tu znależć wycieczki w znane i polecane miejsca pełne atrakcji,
            jak równiez takie w mniej oczywiste miejsca. Wszystko, aby przeżyć przygodę.
          </p>
          </div>
        <div id="foto2">
          <img src="../assets/images/podlasie.jpg" class="img-fluid" >
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
      <div class="right">
        <img
          src="../assets/images/meksyk-palenque.jpg"
          class="foto-right img-fluid"
        /><br />
        <img
          src="../assets/images/kanada.jpg"
          class="foto-right img-fluid"
        /><br />
        <img
          src="../assets/images/plaża.jpg"
          class="foto-right img-fluid"
        /><br />
      </div>
    </div>
  </div>
</div>
