<div class="cointainet-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
       <div class="left">
          <img src="../assets/images/toskania.jpg" class="foto-left img-fluid" /><br />
          <img src="../assets/images/indonezja-pola.jpg" class="foto-left img-fluid" /><br />
          <img src="../assets/images/japonia.jpeg" class="foto-left img-fluid" /><br />
       </div>
     </div>

     <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
        <div class="central">
           <router-outlet></router-outlet>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <div class="right">
            <img src="../assets/images/meksyk-palenque.jpg" class="foto-right img-fluid"/><br />
            <img src="../assets/images/kanada.jpg" class="foto-right img-fluid" /><br />
            <img src="../assets/images/plaża.jpg" class="foto-right img-fluid" /><br />
          </div>
      </div>
  </div>
</div>
