a
{
  text-decoration: none;
  color: white;
}
.socials
{
	width:100%;
	text-align: center;
	background-color: #191d21;
  text-decoration: none;
  color: white;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;

}

.fb
{
	width: 250px;
	height: 155px;
	float:left;

}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}
