<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="travel-form-wrapper mt-3">
  <h2 *ngIf="editMode" style="color: aliceblue">Dodaj nową wycieczkę</h2>

  <div>
    <mat-form-field>
      <mat-label>Miasto</mat-label>
      <mat-select  #cityId>
        <mat-option *ngFor="let city of cities" [value]="city">
          {{ city.cityName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button type="button" (click)="findHotelsInCity(cityId.value.id)">Wyszukaj Hotele</button>
    </div>
  </div>


  <form [formGroup]="travelForm" (ngSubmit)="onAddHotel()">
  <!-- <div>
      <mat-form-field>
        <mat-label>Nazwa hotelu</mat-label>
        <input matInput formControlName="hotelName"/>
        <mat-error *ngIf="controls.hotelName.invalid">{{getErrorMessage(controls.hotelName)}}</mat-error>
      </mat-form-field>
    </div> -->

    <!-- <div>
      <mat-form-field>
        <mat-label>Hotel</mat-label>
        <mat-select  #hotelId>
          <mat-option *ngFor="let hotel of hotels" [value]="hotel " >
            {{ hotel.hotelName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button type="button" (click)="chooseHotel(hotelId.value.id)">Wybierz</button>
   </div>
    </div> -->


    <div>
      <mat-form-field>
        <mat-label>Hotel</mat-label>
        <mat-select formControlName="hotelModel">
          <mat-option *ngFor="let hotel of hotels" [value]="hotel " >
            {{ hotel.hotelName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Cena - dorosły</mat-label>
        <input matInput type="number" formControlName="adultPrice"/>
        <mat-error *ngIf="controls.adultPrice.invalid">{{getErrorMessage(controls.adultPrice)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Ilość dorosłych</mat-label>
        <input type="number" matInput formControlName="adultsNumber"/>
        <mat-error *ngIf="controls.adultsNumber.invalid">{{getErrorMessage(controls.adultsNumber)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Cena - dziecka</mat-label>
        <input type="number" matInput formControlName="childPrice"/>
        <mat-error *ngIf="controls.childPrice.invalid">{{getErrorMessage(controls.childPrice)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>ilość dzieci</mat-label>
        <input type="number" matInput formControlName="childrenNumber"/>
        <mat-error *ngIf="controls.childrenNumber.invalid">{{getErrorMessage(controls.childrenNumber)}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>promocja?</mat-label>
        <mat-select  formControlName="promotion">
            <mat-option [value]="true">Cena promocyjna</mat-option>
            <mat-option [value]="false">Brak</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-form-field>
      <mat-label>Data wylotu - Data powrotu</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input  matStartDate placeholder="Start date"  formControlName="startDate">
        <input  matEndDate placeholder="End date"  formControlName="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div>
      <mat-form-field>
        <mat-label>ilość dni</mat-label>
        <input matInput type="number" formControlName="numberOfDays"/>
        <mat-error *ngIf="controls.numberOfDays.invalid">{{getErrorMessage(controls.numberOfDays)}}</mat-error>
      </mat-form-field>
    </div>


  <div class="d-flex justify-content-end">
    <button
      *ngIf="editMode"
      type="button"
      mat-raised-button
      color="warn"
      (click)="emitCloseDialog()"
    >
      Anuluj
    </button>
    <button [disabled]="travelForm.invalid" mat-raised-button class="mx-1 my-2 " color="primary" type="submit" >{{editMode ? 'Edytuj wycieczkę' : 'Dodaj nową wycieczkę'}}</button>
  </div>
  <app-alert *ngIf="errorMessage" [text]="errorMessage"></app-alert>
  </form>
</div>
